html {
  font-family: "Roboto Condensed", sans-serif;
}

.TitleProductPage {
  padding: 50px 60px 30px;
}

.TTPrd {
  padding: 15px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.SearchProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 150px;
  margin-top: 25px;
  gap: 20px;
}

.Search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FilterContainer {
  display: flex;
  gap: 15px;
  padding-left: 20px;
}

.DropdownAdmin {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.IconEditDropdown i {
  font-size: 20px;
  cursor: pointer;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.DropdownButton {
  background-color: white;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  padding: 15px 0;
  letter-spacing: 1px;
  width: 150px;
  text-transform: uppercase;
}

.DropdownButton span {
  font-size: 12px;
  margin-left: 5px;
}

.DropdownButton:hover {
  color: #fff;
  background-color: #000;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.DropdownContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DropdownContent ul li {
  padding: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}

.DropdownContent ul li:hover {
  background-color: #f1f1f1;
}

.DropdownContent ul li.active,
.DropdownContent ul li:hover {
  background-color: #000;
  color: white;
}

.IconAddProduct {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  background-color: #000;
  padding: 10px;
}

.IconAddProduct:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.Product {
  padding: 10px 40px;
}

.ProductsList {
  padding: 20px 10px 35px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ProductsContent {
  width: 240px;
  background-color: #fff;
}

.ProductsImg {
  width: 240px;
  height: 240px;
  position: relative;
  cursor: pointer;
}

.ProductsImg img {
  width: 100%;
}

.iconOverlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0; /* Ẩn icon mặc định */
  transition: opacity 0.3s ease-in-out;
}

.iconOverlay i {
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.ProductsContent:hover .iconOverlay {
  opacity: 1; /* Hiện icon khi hover */
}

.ProductsContent:hover img {
  transform: scale(1.05);
}

.iconOverlay i:hover {
  transform: scale(1.2);
}

.ProductsBody {
  padding: 12px 0 10px 20px;
}

.ProductsName {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.ProductsPrice {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 800;
  color: #d30000;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal */
.modals {
  background: white;
  width: 800px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
}

.modal-header {
  position: relative;
  background: linear-gradient(140deg, red, black);
  height: 130px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  color: #fff;
  right: 0;
  top: 0;
  padding: 12px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: #ccc;
  color: #000;
}

.modal-header h2 {
  margin: 0;
}

.modal-header i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: white;
  padding: 12px;
  cursor: pointer;
}

.modal-header i:hover {
  background-color: #fff;
  color: #000;
}

.modal-header h5 {
  letter-spacing: 2px;
}

.modal-body {
  padding: 25px 60px;
  text-align: left;
}

.modal-body input {
  width: 100%;
  padding: 16px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.modal-footer {
  padding: 0 60px 25px;
  text-align: center;
}

.modal-footer button {
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 400;
  transition: transform 0.3s ease;
  font-family: "Roboto Condensed", sans-serif;
}

.pay-btn {
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(180deg, black, red);
  color: white;
  border: none;
  cursor: pointer;
}

.pay-btn:hover {
  background-color: #e91e63;
  transform: scale(1.1);
}

.modal-body input:focus,
textarea:focus {
  border-color: #333333;
  outline: none;
}

.image-preview {
  margin-top: 20px;
}

.image-preview img {
  max-width: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-body-flex {
  display: flex;
  align-items: center;
  line-height: center;
  gap: 20px;
}
